In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.model_selection import train_test_split
import sklearn.preprocessing as pre

import warnings
warnings.filterwarnings("ignore")

import wrangle as w

In [2]:
zillow = w.aquire_zillow_data(new=True)

In [3]:
clean_zillow = w.clean_zillow(zillow)

In [4]:
clean_zillow.head()

,bathrooms,bedrooms,home_value,square_feet,year_built,fips,bath_bed_ratio,county,county_Orange,county_Ventura,2017_age
0,3,4,1023282.0,3100,1998,6059.0,0.875000,Orange,1,0,19
1,1,2,464000.0,1465,1967,6111.0,0.500000,Ventura,0,1,50
2,2,3,564778.0,1243,1962,6059.0,0.666667,Orange,1,0,55
3,3,4,145143.0,2376,1970,6037.0,0.750000,LA,0,0,47
4,3,4,773303.0,2962,1950,6037.0,0.750000,LA,0,0,67

In [3]:
zillow.head()

   bathrooms  bedrooms  home_value  square_feet  year_built  county_code
0        3.5       4.0   1023282.0       3100.0      1998.0       6059.0
1        1.0       2.0    464000.0       1465.0      1967.0       6111.0
2        2.0       3.0    564778.0       1243.0      1962.0       6059.0
3        3.0       4.0    145143.0       2376.0      1970.0       6037.0
4        3.0       4.0    773303.0       2962.0      1950.0       6037.0

In [4]:
zillow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52441 entries, 0 to 52440
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   bathrooms    52441 non-null  float64
 1   bedrooms     52441 non-null  float64
 2   home_value   52440 non-null  float64
 3   square_feet  52359 non-null  float64
 4   year_built   52325 non-null  float64
 5   county_code  52441 non-null  float64
dtypes: float64(6)
memory usage: 2.4 MB

In [4]:
zillow["year_built"] = zillow["year_built"].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer