In [1]:
import pandas as pd
import numpy as np

import sklearn.metrics as metric
from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.preprocessing import PolynomialFeatures

import warnings
warnings.filterwarnings("ignore")

from importlib import reload

import wrangle as w
import model as m

In [2]:
#import unclean data from Codeup mySQL server
zillow_unclean = w.acquire_zillow_data()

#clean data
zillow = w.clean_zillow(zillow_unclean)
#split data
train, validate, test = w.split_data(zillow)

In [3]:
#save drivers into a list
drivers = ['square_feet', 'bath_bed_ratio', '2017_age', 'county']

In [4]:
#prepare data for modeling
X_train, y_train, X_validate, y_validate, X_test, y_test = w.prep_for_model(train, validate, test, 'home_value', drivers)

In [8]:
reload(m)

In [15]:
m.baseline_models(y_train, y_validate)

             model     RMSE_train  RMSE_validate   Difference
0    mean_baseline  313878.807820  312799.264162  1079.543658
1  median_baseline  320546.288486  319026.131853  1520.156633

In [6]:
lm = LinearRegression(normalize=True)
lm.fit(X_train, y_train)
train_predictions['lm'] = lm.predict(X_train)
# predict validate
validate_predictions['lm'] = lm.predict(X_validate)

In [7]:
# create the metric_df as a blank dataframe
metric_df = pd.DataFrame()

In [8]:
metric_df = m.make_metric_df(y_train, train_predictions.lm, y_validate, validate_predictions.lm, metric_df, model_name = 'lm')

In [9]:
m.regression_models(X_train, y_train, X_validate, y_validate)

           model     RMSE_train  r^2_train  RMSE_validate  r^2_validate
0  OLS Regressor  258979.286048   0.319221  255023.466108      0.335266
1  Lasso_alpha_1  258979.859230   0.319218  255020.856580      0.335280
2            GLM  266071.034814   0.281426  264905.702635      0.282763
3      Quadratic  252612.889098   0.352280  248837.686557      0.367126

In [14]:
reload(m)

In [13]:
m.best_model(X_train, y_train, X_validate, y_validate, X_test, y_test)

,model,RMSE_train,r^2_train,RMSE_validate,r^2_validate,RMSE_test,r^2_test
0,Quadratic,252612.889098,0.35228,248837.686557,0.367126,251598.306307,0.353342